@import url(common.css);

/*［メインビジュアルの書式］*/
p.visual {
  padding-bottom: 67px;
}

/* 一番上のセクション：下余白、下ボーダー */
main section.about {
  padding-bottom: 53px;
  border-bottom: 3px solid #000;
  margin-bottom: 67px;
}

/* 3連画像全体下余白 */
main section.about ul {
  padding-bottom: 67px;
  /* 3連画像横に並べる、間 */
  display: flex;
  justify-content: center;
  column-gap: 2.63%;
}

/* LOUNGE & DRINKERYのタイトル書式 */
main section h2 {
  font-family: "Kaisei Tokumin", serif;
  font-size: 28px;
  /* font-weight: bold; */
  color: #1d1502;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #868686;
  border-bottom: 2px solid #868686;
  padding-top: 17px;
  padding-bottom: 17px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

/* 説明文 */
main section p {
  font-size: 20px;
  color: #1d1502;
  text-align: left;
}

/* 本日のイベントのセクション：下余白、下ボーダー */
main section.event {
  padding-bottom: 53px;
  border-bottom: 3px solid #000;
  margin-bottom: 77px;
}

/* 本日のイベント：TodaySpecial画像  */
main section.event li.TodaySpecial {
  padding-bottom: 50px;
}

/* 本日のイベント：summerfeering画像 */
main section.event li.summerfeering {
  padding-bottom: 50px;
}

/* レスポンシブ */
@media (max-width: 767px) {
  p.visual img {
    height: 300px;
    object-fit: cover;
    object-position: right;
  }
}
