body {
  /* デフォルトのテキストの書式 */
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  background-color: #fffdf8;
}

/* リンクのカラー同じ、下線なし */
a {
  color: inherit;
  text-decoration: none;
}

/* THE CLYDEロゴ */
header h1 {
  padding-top: 23px;
  margin-bottom: 29px;
}

/*［メニューの書式］上下ボーダー */
header nav {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6a6a6a;
  border-bottom: 2px solid #6a6a6a;
  margin-bottom: 36px;
  padding-top: 28px;
  padding-bottom: 28px;
}

/*［メニュー項目の書式］１行で表示、隣との間:100px */
header nav li {
  display: inline;
  padding-left: 50px;
  padding-right: 50px;
  color: #54410c;
  font-size: 18px;
}

/*［メニューのリンク文字のホバー設定］下線表示、不透明度:70% */
header nav li a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

/*［HOMEの書式］太字 */
header nav li.active a {
  color: #000;
  font-weight: bold;
}

/*［メインビジュアルの書式］*/
p.visual {
  padding-bottom: 67px;
}

/*［mainの書式］ */
main {
  padding-bottom: 57px;
  /* コンテナ */
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

main section.about {
  padding-bottom: 53px;
  border-bottom: 3px solid #000;
  margin-bottom: 67px;
}

main section.about ul {
  padding-bottom: 67px;
}

main section.about li {
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
}

main section.about h2 {
  font-size: 28px;
  font-weight: bold;
  color: #1d1502;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #868686;
  border-bottom: 2px solid #868686;
  display: inline-block;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 12px;
  padding-right: 13px;
  margin-bottom: 50px;
}

main section p {
  font-size: 20px;
  color: #1d1502;
  text-align: left;
}

main section.event {
  padding-bottom: 53px;
  border-bottom: 3px solid #000;
  margin-bottom: 77px;
}

main section.event h2 {
  font-size: 28px;
  font-weight: bold;
  color: #1d1502;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #868686;
  border-bottom: 2px solid #868686;
  display: inline-block;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 76px;
  padding-right: 78px;
  margin-bottom: 50px;
}

main section.event li.TodaySpecial {
  padding-bottom: 50px;
}

main section.event li.summerfeering {
  padding-bottom: 50px;
}

main aside a:hover {
  opacity: 0.7;
}

footer {
  background-color: #322707;
  padding-top: 42px;
}

footer section {
  background-color: #5f4e1c;
  margin-bottom: 30px;
  display: inline-block;

  padding-left: 111px;
  padding-right: 111px;
  color: #1d1502;
}

footer section h3 {
  font-size: 20px;
  padding-top: 11px;
  padding-bottom: 6px;
}

footer section p {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 11px;
}

footer p {
  padding-bottom: 30px;
}

footer address {
  font-size: 18px;
  color: #fffdf8;
  padding-bottom: 30px;
}

footer address img {
  padding-right: 9px;
}

footer p.Copyright {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  color: #fffdf8;
  background-color: #000;
  padding-top: 18px;
  padding-bottom: 18px;
}
